.search-bar {
  background-color: $black_two_55;
  margin-left: 30vw;
  width: 40vw;
  height: 10vh;
  border-radius: 10px;
  border: none;
  padding: 1vw;
  font-size: 5vh;
}

.search-bar-container {
  width:100vw;
  height:20vh;
}