//No Rez Colours

$transparent: rgba(0, 0, 0, 0);

$black_one_100: #000000;
$black_two_100: #0a0a0a;
$black_two_80: rgba(10, 10, 10, 0.8);
$black_two_55: rgba(10, 10, 10, 0.55);
$black_two_40: rgba(10, 10, 10, 0.4);
$black_two_20: rgba(10, 10, 10, 0.2);
$black_three_100: #1a1a1a;
$black_four_100: #212121;

$brownish_grey_100: #646464;
$warm_grey_100: #979797;
$pinkish_grey_100: #cacaca;

$white_one_100: #f2f2f2;
$white_two_100: #f6f6f6;
$white_three_100: #ffffff;
$white_three_70: rgba(255, 255, 255, 0.7);
$white_three_50: rgba(255, 255, 255, 0.5);
$white_three_20: rgba(255, 255, 255, 0.2);

$yellowish_orange_100: #ffdf00;
$neon_red_100: #ff0d41;
$shamrock_green_100: #00bf60;
$dark_royal_blue: #051d74;
